@page "/"

<div style="max-width:800px; margin:auto; background:white; padding:2rem;">
    <h1 style="display:flex;align-items:center;gap:1rem;">
        Reno Tracker
    </h1>

    <p>
        <b>Name:</b> Spencer Wright<br />
        <b>Last Modified:</b> August 2, 2025<br />
        <b>Known Bugs:</b> none
    </p>

    <h3>Credits and attributions</h3>
    <p>
        The images for RenoTracker are a modification of an image file or portion-of supplied by:
        <a href="" target="_blank">FREEPIK</a>.
        The image is being used here for educational purposes.<br />
        Copyright usage allowed.
    </p>

    <h3>Is it possible to use a copyright-protected work without infringing?</h3>
    <p>
        Yes, in some circumstances, it is possible to use a copyright-protected work without infringing the owner's copyright. For more about this, you may wish to learn about <a href="https://en.wikipedia.org/wiki/Fair_use" target="_blank">fair use</a>.<br />
        It is important to note that your content can be removed in response to a claim of copyright infringement, even if you have...
    </p>
    <ul>
        <li>Given credit to the copyright owner</li>
        <li>Refrained from monetizing the infringing content</li>
        <li>Charged for a copy of the content in question</li>
        <li>Noticed similar content that appears elsewhere on the internet</li>
        <li>Purchased the content including a hard or digital copy</li>
        <li>Recorded the content yourself from TV, a movie theater, or the radio</li>
        <li>Copied the content yourself from a textbook, a movie poster or photograph</li>
        <li>Stated that "no copyright infringement is intended"</li>
    </ul>
    <p>
        Some content creators choose to make their work available for reuse with certain requirements.
        For more about this, you may wish to learn about the <a href="" target="_blank">Creative Commons license</a>.
    </p>
</div>
